.rgroups-tabs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .tab-panels-container {
    flex-grow: 1;
    overflow: hidden;
  }

  .tab-panel-list {
    --translate-x-ratio: calc(var(--active-tab-index) / var(--tab-panel-count));

    display: flex;
    width: calc(var(--tab-panel-count) * 100%);
    height: 100%;
    overflow-y: hidden;

    transform: translateX(calc(0px - var(--translate-x-ratio) * 100%));
    transition: transform 300ms ease-out;

    > * {
      flex-grow: 1;
      height: 100%;
    }
  }
}
