.core-selection-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 0;
  gap: 2rem;

  .heading {
    color: var(--palette-primary-main);
    font-weight: 600;
    text-align: center;
  }

  .cores-search-add {
    display: flex;
    gap: 4rem;

    justify-content: space-between;

    .search-field {
      flex-grow: 1;
      max-width: 30rem;
    }
  }

  .grid-container {
    flex-grow: 1;
  }
}
