.core-info {
  display: inline-flex;

  .core-image {
    align-self: center;
    height: 5rem;
    margin-right: 1rem;
    aspect-ratio: 1;
  }

  .core-data {
    padding: 0 1rem;

    border-left: 2px solid rgb(var(--palette-text-primary-channels) / 20%);
  }

  .value {
    margin: 0;
  }
}
