:global(.MuiPaper-root).sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;

  border-radius: 0;
}

.logo-icon {
  width: 100%;
  aspect-ratio: 1;
}

.button-stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-pref-buttons {
  gap: 0.75rem;
}

:global(.MuiIconButton-root).settings-button {
  border: 1px solid rgb(var(--palette-text-primary-channels) / 30%);
}

:global(.MuiIconButton-root).profile-button {
  width: 100%;

  background-color: var(--palette-primary-main);

  color: var(--palette-primary-contrast-text);

  &:hover {
    background-color: var(--palette-primary-dark);
  }
}

.notification-badge {
  > span {
    top: 7px;
    right: 7px;
    padding: 0;

    font-size: 0.6rem;
    line-height: 1.5;
  }
}
